@page
@model IndexModel
@{
	var ShortLink = "";
	var FullLink = "";

	if (HttpMethods.IsPost(Request.Method))
	{
		ShortLink = "yeeee";
		FullLink = Request.Form["FullLink"];
	}
	else
	{
		ShortLink = "noooo";
	}
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
   <p>Введите ссылку:</p>
   <form method="post" action="">
		<input id="FullLink" type="text" name="FullLink">
		<input type="submit" value="Сократить">
	</form>

	<p id="ShortLink">@ShortLink</p>
	<p id="FullLink">@FullLink</p>
</div>
